{# Page générique pour les pages du site #}

{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="contenu">
    <h3 class="contenu-title">Découvrez le meilleur de la Musique</h3>
</div>
    
      <div class="toolbar">
        <a href="/playlist"><i class="fa-solid fa-list-ul h1"></i></a>
        <a href="/favourite"><i class="fa-solid fa-heart h1"></i></a>
        <a href="/notification"><i class="fa-solid fa-bell h1"></i></a>
        <a href="/user"><i class="fa-solid fa-user h1"></i></a>
        <a href="/setting"><i class="fa-solid fa-gear h1"></i></a>
        
    </div>

    
    <div class="row d-flex flex-row justify-content-center">
    {% for music in musics %}
            <div class="card border-primary text-white bg-info mb-4 me-5 mt-4" style="width: 15%">
                {% if music.filename is null %}
                    <img src="{{ asset('images/default.jpg') }}"
                         alt="image de la musique" class="card-img-top" />
                         {% else %}
                         <img src="{{ vich_uploader_asset(music, "imageFile") }}"
                                 alt="couverture du livre" class="card-img-top" />
                         {% endif %}
                         <div class="card-header">
                            {{ music.musicName}}
                         </div>
                         <div class="card-body ">
                              {% for author in music.authors %}
                            Artiste: {{ author.firstName }}
                            {% endfor %}  
                        </div>
                        <a href="{{ path("editmusic", {id : music.id}) }}"
                           class="btn btn-sm btn-outline-danger">
                            <i class="fas fa-edit"></i>
                        </a>
                        
                        
                    </div>
                    
                    {% endfor %}
                </div>
    
{% endblock %}